<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/monokai-sublime.min.css" rel="stylesheet">
  <base href="/">
  <title>路过流年的风</title>
  <%= htmlWebpackPlugin.options.loading.css %>
</head>
<body>
  <div id="app">
      <%= htmlWebpackPlugin.options.loading.html %>
  </div>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
</body>
</html>