.content{
  display: flex;
  justify-content: space-between;
  &>div{
    padding: 10px 20px;
  }
  .side-info{
    width: 40%;
    &>div{
      margin-bottom: 20px;
    }
  }
}


.user-info{
  background: #FFF url('../images/banner.png') no-repeat top center;
  overflow: hidden;
  text-align: center;
  padding: 8rem 0;
  h4{
    color: #1abc9c;
  }
  &>div:last-child{
    width: 60%;
    margin: 0 auto;
  }
}

.avater{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.search{
  padding: 20px 10px;
  background: #fff;
}